doctype html
html
    head
        meta(charset="UTF-8")
        //- style(type="text/css").
            //- @import url("/css/gitlab.css");
        title 测试
    body
        div#main(style="width: 600px;height:600px;display:inline-block")
        div#main2(style="width: 600px;height:600px;display:inline-block")
        script(src="/js/jquery.min.js")
        script(src="/js/echarts.js")
        script(src="/js/lib/gesture.js?ts={{handler.system_start_ts}}")
        script.
          window.gesture.init();





