# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.zip
*.txt
ProxyPool/config.pro.py
ProxyPool/logs/*
download_website/
amobbs/
.DS_Store
templates/
*.sublime-package
downloader/*
!downloader/*.py
