
nav.navbar.navbar-default.mu-navbar.mu-bar-top
    .container-fluid
        .navbar-header
            a.navbar-brand(href='#')
                span.glyphicon.glyphicon-leaf
                span.mu-ml-5 PBh

        .collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                li
                    a(href='#')
                        span.glyphicon.glyphicon-check
                        span.mu-ml-5 Good Luck!