html(lang='zh-CN')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/bootstrap-theme.min.css', rel='stylesheet')
    link(href='/css/bootstrap.makeup.css', rel='stylesheet')
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')

    title Sign in

  body
    nav.modal-header
      .container.text-center.mu-fs-21
        span.glyphicon.glyphicon-leaf
    .container.mu-mw-content
      .mu-pdt-15
        .col-sm-5.pull-right.mu-fwn
          .mu-signin-box
            span.mu-dp-ib.mu-signin-span.mu-pd-15 Sign in
          .mu-pd-15.mu-bs1
            form#login_form
              .form-group
                span.mu-mb-5.mu-dp-ib Username or email
                input#username.form-control(type='text', autofocus='')
              .form-group
                span.mu-mb-5.mu-dp-ib Password
                input#password.form-control(type='password')
              .checkbox
                label
                  input#remember_me(type='checkbox')
                  span Remember me
                .pull-right
                  a#signup(href='javascript:void(0);') Sign up
              a#btn_signin.btn.btn-success.btn-block Sign in
        .col-sm-7
          h1.mu-fwn Project Black Hope
          h3.mu-fwn Welcome
          span#error_message.text-danger

    hr
    .container.mu-mw-content
      a.mu-pdr-15(href='https://ayiis.me') ayiis.me
      a.mu-pdr-15(href='https://github.com/ayiis') Github
      a.mu-pdr-15(href='https://wodove.com/') Wodove
