.mu-pd-10-0.modal-header.col-lg-12
    a(href="/index") 
        span.glyphicon.glyphicon-home 
        |  首页
    span.mu-ml-5.mu-mr-5 &gt;
    a(href="#") 账号管理
    span.mu-ml-5.mu-mr-5 &gt;
    a(href="#") 账号列表

br

h1.col-lg-12 独立的分页控件

#pagination1.col-lg-12

br

h1.col-lg-12 用户管理

br

.col-lg-6
    .btn-group
      button.btn.btn-info(type='button') 所有状态
      button.btn.btn-info.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        span.caret
      ul.dropdown-menu
        li
          a(href='#') 激活
        li
          a(href='#') 非激活
        li.divider(role='separator')
        li
          a(href='#') 所有状态
    .btn-group
      button.btn.btn-info(type='button') 所有用户
      button.btn.btn-info.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        span.caret
      ul.dropdown-menu
        li
          a(href='#') 管理员
        li
          a(href='#') 普通用户
        li.divider(role='separator')
        li
          a(href='#') 所有用户
    .btn-group
      button.btn.btn-info(type='button') 默认排序
      button.btn.btn-info.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        span.caret
      ul.dropdown-menu
        li
          a(href='#') 用户名排序
        li
          a(href='#') 时间排序
        li.divider(role='separator')
        li
          a(href='#') 默认排序
.col-lg-6
    .btn-group
        .input-group
            input.form-control(type='text', placeholder='Search for...')
            span.input-group-btn
                button.btn.btn-primary(type='button') Search


.col-lg-12
    table.table.table-hover
        thead
            th 激活
            th 组
            th 用户名
            th 所有任务
            th 已完成任务
            th 进度
            th 更新时间
            th 操作
        tbody#tbody_2

#pagination2.col-lg-12

#my_modal.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4.modal-title Modal title
      .modal-body
        p One fine body…
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
        button.btn.btn-primary(type='button') Save changes


script.

    !(function(){
        var data_list2 = [{
            "status": 1,
            "name": "admin1",
            "group": "管理员",
            "all_task": ["第一次测试任务", "3月500条第一版", "测试2", "task1", "task6", "task4"],
            "task": ["第一次测试任务", "task6", "task4"],
            "datetime": "2019-03-26 15:49:34",
        }, {
            "status": 1,
            "name": "user1",
            "group": "用户1",
            "all_task": ["第一次测试任务", "3月500条第一版", "测试2"],
            "task": ["第一次测试任务", ],
            "datetime": "2019-03-26 15:49:34",
        }, {
            "status": 0,
            "name": "user2",
            "group": "用户2",
            "all_task": ["task1", "task6", "task4"],
            "task": [],
            "datetime": "2019-03-26 15:49:34",
        }, {
            "status": 1,
            "name": "user3",
            "group": "用户3",
            "all_task": ["task1", "task6", "task4"],
            "task": [],
            "datetime": "2019-03-26 15:49:34",
        }, {
            "status": 1,
            "name": "user4",
            "group": "用户4",
            "all_task": ["task1", "task6", "task4"],
            "task": [],
            "datetime": "2019-03-26 15:49:34",
        }, {
            "status": 1,
            "name": "user5",
            "group": "用户5",
            "all_task": ["task1", "task6", "task4"],
            "task": [],
            "datetime": "2019-03-26 15:49:34",
        }];
        var list_pager1 = pager.init_pagination({
            "page_size": 10,
            "ele": $('#pagination1'),
            "callback": function(page_index) {
                console.log("goto page:", page_index);
                list_pager1.touch_pagination(100, page_index);
            },
        });
        list_pager1.touch_pagination(100, 1);

        var list_pager2 = pager.init_pagination({
            "page_size": 5,
            "ele": $('#pagination2'),
            "callback": function(page_index) {
                console.log("goto page:", page_index);
                load_data(page_index);
            },
        });

        var options = {
            "backdrop": true,
            "keyboard": true,
            "show": true,
        }
        $('#tbody_2').on('click', '.set', function() {
            var tr = $(this).closest('tr');
            $('#my_modal').find('.modal-body>p').text(tr.find('td:eq(3)').text());
            $('#my_modal').modal(options);
        });

        $(document).on('click', '.dropdown-menu a', function() {
            $(this).closest('.btn-group').find('.btn:eq(0)').text($(this).text());
            $(this).closest('.btn-group').removeClass('open');
            return false;
        });

        var load_data = function(page_index) {
            page_index = page_index || 1;
            var html = [];
            var took_data = [];
            for(var i = (page_index - 1) * list_pager2.page_size ; i < data_list2.length && i < page_index * list_pager2.page_size ; i++ ) {
                took_data.push(data_list2[i]);
            }
            for(var i = 0 ; i < took_data.length ; i++ ) {
                html.push('<tr>');
                html.push(
                    '<td><label class="mu-switch">' +
                    '<input type="checkbox" ' + (took_data[i]['status'] == 1 ? 'checked="checked"' : '') + '/>' +
                    '<span class="slider"></span></label></td>'
                );
                if (took_data[i]['group'] == "管理员") {
                    html.push('<td class="bg-warning">' + took_data[i]['group'] + '</td>');
                } else {
                    html.push('<td >' + took_data[i]['group'] + '</td>');
                }
                html.push('<td>' + took_data[i]['name'] + '</td>');
                html.push('<td>' + took_data[i]['all_task'].join("<br>") + '</td>');
                html.push('<td>' + took_data[i]['task'].join("<br>") + '</td>');
                html.push('<td>' + took_data[i]['task'].length + '/' + took_data[i]['all_task'].length + '</td>');
                html.push('<td>' + took_data[i]['datetime'] + '</td>');
                html.push('<td>' + '<a href="#" class="set"> 设置 </a>' + '</td>');
                html.push('</tr>');
            }
            $('#tbody_2').empty().append(html.join(""));
            list_pager2.touch_pagination(data_list2.length, page_index);
        }

        load_data();

    })();
