| {% include './lib/nav'%}

| {% include './lib/sidebar'%}

.col-lg-10.col-lg-offset-2.mu-mt-42
    .col-lg-offset-1
        .row
            .col-lg-3
                h4 账号信息
                p 使用邮箱作为唯一帐号名

            .col-lg-9
                blockquote
                    footer 当前登陆身份：管理员
                    p ayiis@126.com

        hr
        .row
            .col-lg-3
                h4 账号信息
                p 使用邮箱作为唯一帐号名

            .col-lg-9
                blockquote
                    footer 当前登陆身份：管理员
                    p ayiis@126.com
