doctype html
html
    head
        meta(charset='UTF-8')
        style(type='text/css').
            @import url("/css/gitlab.css");
        title 修改过滤规则
    body.ui_blue(data-group='', data-page='profiles:accounts:show', data-project='')
        | {% include './lib/header'%}
        .page-with-new-sidebar.page-with-sidebar
            .content-wrapper.page-with-new-nav
                .mobile-overlay
                .alert-wrapper
                    nav.breadcrumbs.container-fluid.container-limited(role='navigation')
                        .breadcrumbs-container
                            button.toggle-mobile-nav(name='button', type='button')
                                span.sr-only Open sidebar
                                i.fa.fa-bars(aria-hidden='true', data-hidden='true')
                            .breadcrumbs-links.js-title-container
                                ul.list-unstyled.breadcrumbs-list.js-breadcrumbs-list
                                    li
                                        a(href='/account') Index
                                        svg.s8.breadcrumbs-list-angle
                                            use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='/css/icons.svg#angle-right')
                                    li
                                        h2.breadcrumbs-sub-title 任务创建
                    .flash-container.flash-container-page
                .container-fluid.container-limited.limit-container-width
                  #content-body.content
                    form#edit_user_18.edit-user.prepend-top-default.js-quick-submit(role='form', enctype='multipart/form-data', action='/api/task_create', accept-charset='UTF-8', method='post')
                      .row
                        .col-lg-4.profile-settings-sidebar
                          h4.prepend-top-0 标题
                          p 模糊匹配，多个关键词用英文引号'隔开
                        .col-lg-8
                          .form-group
                            label.label-bold 关键词
                            input#title.form-control(required='required', type='text', value='', name='title')
                          .prepend-top-default.append-bottom-default
                      .row
                        .col-lg-4.profile-settings-sidebar
                          h4.prepend-top-0 作者
                          p 模糊匹配，多个关键词用英文引号'隔开
                        .col-lg-8
                          .form-group
                            label.label-bold 关键词
                            input#author.form-control(required='required', type='text', value='', name='author')
                          .prepend-top-default.append-bottom-default
                      .row
                        .col-lg-4.profile-settings-sidebar
                          h4.prepend-top-0 作者全名
                          p 精确匹配，多个作者名称用英文引号'隔开
                        .col-lg-8
                          .form-group
                            label.label-bold 全名
                            input#author_full_name.form-control(required='required', type='text', value='', name='author_full_name')
                          .prepend-top-default.append-bottom-default
                      .row
                        .col-lg-4.profile-settings-sidebar
                          h4.prepend-top-0 非
                          p 非匹配，标题命中则不过滤（只允许1个字符）
                        .col-lg-8
                          .form-group
                            label.label-bold 非
                            input#not.form-control(required='required', type='text', value='', name='not')
                          .prepend-top-default.append-bottom-default
                      .row
                        .col-lg-4.profile-settings-sidebar
                          h4.prepend-top-0 价格范围
                          p 如果标题里面有价格信息，则启用此规则
                        .col-lg-2
                          .form-group
                            label.label-bold 最低价格
                            input#price_min.form-control(required='required', type='text', value='')
                        .col-lg-2
                          .form-group
                            label.label-bold 最高价格
                            input#price_max.form-control(required='required', type='text', value='')
                          .prepend-top-default.append-bottom-default
                      hr
                      .row
                        .col-lg-12
                          a#btn_submit.btn.btn-success.append-right-10 修改规则
                          a#btn_rtn.btn.btn-message.append-right-10 返回
                          span#span_message.warning-title
        | {% include './lib/bottom_script'%}
        link(href='/css/select2.min.css', rel='stylesheet')
        script(src='/js/select2.min.js')
        script(src='/js/lib/douban_filter.js?ts={{handler.system_start_ts}}')
        script.
          window.douban_filter.init();
