doctype html
html
    head
        meta(charset='UTF-8')
        style(type='text/css').
            @import url("/css/gitlab.css");
        title test
    body.ui_blue(data-group='', data-page='profiles:accounts:show', data-project='')
        | {% include './lib/header' %}
        .page-with-new-sidebar.page-with-sidebar
            .content-wrapper.page-with-new-nav
                .mobile-overlay
                    .flash-container.flash-container-page
                p
                p hello world!

                #ffff(style='width: 1080px; height: 500px;display:inline-block;')

        | {% include './lib/bottom_script' %}
        script(src='/js/echarts.js')
        script(src='/js/build_chart.js')
