doctype html
html
    head
        meta(charset='UTF-8')
        style(type='text/css').
            @import url("/css/gitlab.css");
        title test
    body.ui_blue(data-group='', data-page='profiles:accounts:show', data-project='')
        | {% include './lib/header' %}
        .page-with-new-sidebar.page-with-sidebar
            .content-wrapper.page-with-new-nav
                .mobile-overlay
                    .flash-container.flash-container-page
                p
                p hello world!

                button#btn_show.btn.btn-primary.btn-lg(type='button', data-toggle='modal', data-target='#myModal') Launch demo modal

        .hide#my_modal.ay_modal
            div
                div
                    div(style='width: 200px; height: 100px;display:inline-block;') 123456
                    //- #ffff(style='width: 800px; height: 400px;display:inline-block;')

        | {% include './lib/bottom_script' %}
        script(src='/js/echarts.js')
        script(src='/js/build_chart.js')
