doctype html
html
    head
        meta(charset='UTF-8')
        style(type='text/css').
            @import url("/css/gitlab.css");
        link(href='/css/bootstrap.min.css', rel='stylesheet')
        link(href='/css/bootstrap-theme.min.css', rel='stylesheet')
        link(href='/css/bootstrap.makeup.css', rel='stylesheet')
        title test
    body.ui_blue(data-group='', data-page='profiles:accounts:show', data-project='')
        | {% include './lib/header' %}
        .page-with-new-sidebar.page-with-sidebar
            .content-wrapper.page-with-new-nav
                .mobile-overlay
                    .flash-container.flash-container-page
                p
                p hello world!
                button.btn.btn-primary.btn-lg(type='button') Launch demo modal

        #my_modal.modal.fade(tabindex='-1', role='dialog')
          .modal-dialog(role='document', style='margin:30px auto;width:800px;')
            .modal-content
              .modal-body
                #ffff(style='width:800px;height:400px;display:inline-block;')

        | {% include './lib/bottom_script' %}
        script(src='/js/echarts.js')
        script(src='/js/common.js')
        script(src='/js/build_chart.js')
        script(src='/js/bootstrap.min.js')
        script.
            $(window).on('load', function(){
                $('.btn').on('click', function(){
                    $('#my_modal').modal('show');
                });
            });
