doctype html
html
    head
        meta(charset='UTF-8')
        style(type='text/css').
            @import url('/css/gitlab.css');
        title 任务管理
    body.ui_blue(data-group='', data-page='profiles:accounts:show', data-project='')
        | {% include './lib/header'%}
        .page-with-new-sidebar.page-with-sidebar
            | {% include './lib/nav-sidebar'%}
            .content-wrapper.page-with-new-nav
                .mobile-overlay
                .alert-wrapper
                    nav.breadcrumbs.container-fluid.container-limited(role='navigation')
                        .breadcrumbs-container
                            button.toggle-mobile-nav(name='button', type='button')
                                span.sr-only Open sidebar
                                i.fa.fa-bars(aria-hidden='true', data-hidden='true')
                            .breadcrumbs-links.js-title-container
                                ul.list-unstyled.breadcrumbs-list.js-breadcrumbs-list
                                    li
                                        a(href='/account') Index
                                        svg.s8.breadcrumbs-list-angle
                                            use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='/css/icons.svg#angle-right')
                                    li
                                        h2.breadcrumbs-sub-title 任务管理
                    .flash-container.flash-container-page
                #content.container-fluid.container-limited
                    .top-area.scrolling-tabs-container.inner-page-scroll-tabs
                        .fade-left
                            i.fa.fa-angle-left(aria-hidden='true', data-hidden='true')
                        .fade-right
                            i.fa.fa-angle-right(aria-hidden='true', data-hidden='true')
                        ul.nav-links.scrolling-tabs.is-initialized
                            li.active
                                a.shortcuts-activity(title='Home', data-placement='right', href='/task_control') 任务进度
                        .nav-controls
                            form.project-filter-form(action='##', accept-charset='UTF-8', method='get')
                                input#task_name.project-filter-form-field.form-control.input-short.js-projects-list-filter(type='search', name='name', placeholder='按名称搜索...', spellcheck='false', tabindex='2', value='')
                            .dropdown
                                button.dropdown-menu-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                                    span#task_status.dropdown-toggle-text(val='2') 待审核
                                    i.fa.fa-chevron-down(aria-hidden='true', data-hidden='true')
                                ul.dropdown-menu.dropdown-menu-align-right.dropdown-menu-selectable
                                    li.dropdown-header    状态
                                    li
                                        a(href='##', val='0') 全部
                                    li
                                        a(href='##', val='1') 进行中
                                    li
                                        a(href='##', val='2') 待审核
                                    li
                                        a(href='##', val='3') 已完成
                                    li
                                        a(href='##', val='-1') 失败
                            a#btn_search.btn.btn-info(href='') 搜索
                    .js-projects-list-holder
                        ul#projects_list.projects-list
                    .table-holder
                      table#tree-slider.qa-file-tree.table.tree-table
                        thead
                          tr
                            th 状态
                            th 任务
                            th 用户
                            th 截止日期
                            th 更新时间
                            th 当前进度
                            th 录音总时长
                            th 操作
                        tbody#tbody_task_list
                #div_download.container-fluid.container-limited.hidden
                  br
                  br
                  span
                  a(href='##',target='_blank')
                  br
                  br
                  input#btn_return.btn.btn-default.append-right-10(type='button',name='commit',value='返回')
                #div_wait_download.container-fluid.container-limited.hidden
                  br
                  br
                  span
        script#templete_task_list(type='templete')
          tr.tree-item
            td.cgray
              span
            td.tree-item-file-name
              a.view_task(href='##')
                span
            td.d-none.d-sm-table-cell.tree-commit
              span
            td.cgray
              span
            td.cgray
              span
            td.cgray
              span
            td.cgray
              span
            td.cgray
              a.view_user_task(href='##')
                span.col-xs-offset-1 查看详情
              a.audit_pass(href='##')
                span.badge.badge-success.col-xs-offset-1 审核通过
              a.audit_fail(href='##')
                span.badge.badge-dark.col-xs-offset-1 审核退回
              br
              a.export_xls(href='##')
                span.col-xs-offset-1 导出报表
              a.pack_wav(href='##')
                span.col-xs-offset-1 打包下载
        | {% include './lib/bottom_script'%}
        script(src='/js/lib/task_control.js?ts={{handler.system_start_ts}}')
        script.
          window.task_control.user_role='{{handler.user["role"]}}';
          window.task_control.init()
