doctype html
html
    head
        meta(charset='UTF-8')
        style(type='text/css').
            @import url("/css/gitlab.css");
        title 任务列表
    body.ui_blue(data-group='', data-page='profiles:accounts:show', data-project='')
        | {% include './lib/header'%}
        .page-with-new-sidebar.page-with-sidebar
            | {% include './lib/nav-sidebar'%}
            .content-wrapper.page-with-new-nav
                .mobile-overlay
                .alert-wrapper
                    nav.breadcrumbs.container-fluid.container-limited(role='navigation')
                        .breadcrumbs-container
                            button.toggle-mobile-nav(name='button', type='button')
                                span.sr-only Open sidebar
                                i.fa.fa-bars(aria-hidden='true', data-hidden='true')
                            .breadcrumbs-links.js-title-container
                                ul.list-unstyled.breadcrumbs-list.js-breadcrumbs-list
                                    li
                                        a(href='/account') Index
                                        svg.s8.breadcrumbs-list-angle
                                            use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='/css/icons.svg#angle-right')
                                    li
                                        h2.breadcrumbs-sub-title 任务列表
                    .flash-container.flash-container-page
                .container-fluid.container-limited
                    .top-area.scrolling-tabs-container.inner-page-scroll-tabs
                        .fade-left
                            i.fa.fa-angle-left(aria-hidden='true', data-hidden='true')
                        .fade-right
                            i.fa.fa-angle-right(aria-hidden='true', data-hidden='true')
                        ul.nav-links.scrolling-tabs.is-initialized
                            li.active
                                a.shortcuts-activity(title='Home', data-placement='right', href='/user_task_list') 你的任务
                        .nav-controls
                            form.project-filter-form(action='/dashboard/projects?sort=latest_activity_desc', accept-charset='UTF-8', method='get')
                                input#task_name.project-filter-form-field.form-control.input-short.js-projects-list-filter(type='search', name='name', placeholder='按名称搜索...', spellcheck='false', tabindex='2', value='')
                            .dropdown
                                button.dropdown-menu-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                                    span#task_status.dropdown-toggle-text(val='0') 全部
                                    i.fa.fa-chevron-down(aria-hidden='true', data-hidden='true')
                                ul.dropdown-menu.dropdown-menu-align-right.dropdown-menu-selectable
                                    li.dropdown-header    状态
                                    li
                                        a(href='', val='0') 全部
                                    li
                                        a(href='', val='1') 待配音
                                    li
                                        a(href='', val='2') 已配音
                            a#btn_search.btn.btn-info(href='') Search
                    .js-projects-list-holder
                        ul#projects_list.projects-list
                    .table-holder
                      table#tree-slider.qa-file-tree.table.tree-table
                        thead
                          tr
                            th 状态
                            th 任务
                            th 用户
                            th 文本
                            th 更新日期
                            th 操作
                        tbody#tbody_user_task_list
        audio#audio.hidden(controls="")
        script#templete_user_task_list(type='template')
          tr.tree-item
            td.cgray
              span
            td.tree-item-file-name
                a.view_task(href='##')
                    span
            td.cgray
              span
            td.cgray
              span
            td.cgray
              span
            td.cgray
              a.play_record(href='##')
                span.col-xs-offset-1 播放录音
              a.dubbing_create(href='##')
                span.badge.badge-success.col-xs-offset-1 配音
              a.dubbing_change(href='##')
                span.badge.badge-warning.col-xs-offset-1 重新配音
              br
              a.audit_pass(href='##')
                span.badge.badge-success.col-xs-offset-1 通过
              a.audit_fail(href='##')
                span.badge.badge-dark.col-xs-offset-1 退回
        | {% include "./lib/bottom_script"%}
        script(src='/js/notify.min.js')
        script(src='/js/lib/user_task_list.js?ts={{handler.system_start_ts}}')
        script.
            window.user_task_list.user_role='{{handler.user["role"]}}';
            window.user_task_list.real_username='{{handler.user["username"]}}';
            window.user_task_list.init()
