doctype html
html
    head
        meta(charset='UTF-8')
        style(type='text/css').
            @import url("/css/gitlab.css");
        title 账号信息
    body.ui_blue(data-group='', data-page='profiles:accounts:show', data-project='')
        | {% include './lib/header'%}
        .page-with-new-sidebar.page-with-sidebar
            | {% include './lib/nav-sidebar'%}
            .content-wrapper.page-with-new-nav
                .mobile-overlay
                .alert-wrapper
                    nav.breadcrumbs.container-fluid.container-limited(role='navigation')
                        .breadcrumbs-container
                            button.toggle-mobile-nav(name='button', type='button')
                                span.sr-only Open sidebar
                                i.fa.fa-bars(aria-hidden='true', data-hidden='true')
                            .breadcrumbs-links.js-title-container
                                ul.list-unstyled.breadcrumbs-list.js-breadcrumbs-list
                                    li
                                        a(href='/user_control') Index
                                        svg.s8.breadcrumbs-list-angle
                                            use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='/css/icons.svg#angle-right')
                                    li
                                        h2.breadcrumbs-sub-title 创建用户
                    .flash-container.flash-container-page
                .container-fluid.container-limited.limit-container-width
                    #content-body.content
                        form#edit_user_18.edit-user.prepend-top-default.js-quick-submit(role='form', enctype='multipart/form-data', action='##', accept-charset='UTF-8', method='post')
                            .row
                                .col-lg-4.profile-settings-sidebar
                                    h4.prepend-top-0    创建用户
                                    p
                                        | 创建一个可以登录使用系统的新用户
                                .col-lg-8
                                    .form-group
                                        label.label-light 用户名
                                        input#username.form-control(type='text', required='')
                                        p.help-block
                                            | 唯一身份标识，建议使用邮箱
                                    .form-group
                                        label.label-light 密码
                                        input#password.form-control(type='password', required='')
                                    .form-group
                                        .dropdown.dropdown-menu-align-right
                                            label.label-light 用户组
                                            button.dropdown-menu-align-right.dropdown-menu-toggle(type='button', data-toggle='dropdown', aria-expanded='false', style='float:right')
                                                span#user_role.dropdown-toggle-text(val='2') 用户
                                                i.fa.fa-chevron-down(aria-hidden='true', data-hidden='true')
                                            ul.dropdown-menu.dropdown-menu-align-right.dropdown-menu-selectable
                                                li.dropdown-header    用户组
                                                li
                                                    a(href='##', val='1') 管理员
                                                li
                                                    a(href='##', val='2') 用户
                                                li
                                                    a(href='##', val='3') 审核人员
                                                li
                                    .prepend-top-default.append-bottom-default
                                        input#btn_submit.btn.btn-create.btn-success.append-right-10(type='submit', name='commit', value='创建')
                                        span#span_message.text-warning
        | {% include './lib/bottom_script'%}
        script(src='/js/md5.min.js')
        script(src='/js/lib/user_create.js?ts={{handler.system_start_ts}}')
        script.
            window.user_create.init();

