.nav-sidebar
    .nav-sidebar-inner-scroll
        .context-header
            a(title='Profile Settings', href='/account')
                .avatar-container.s40.settings-avatar
                    svg.s24
                        use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='/css/icons.svg#user')
                .sidebar-context-title
                    | {{handler.user["username"]}}
        ul#sidebar-top-level-items.sidebar-top-level-items
            li
                a(href='/user_task_list')
                    .nav-icon-container
                        svg
                            use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='/css/icons.svg#applications')
                    span.nav-item-name    任务列表
            li
                a(href='/task_control')
                    .nav-icon-container
                        svg
                            use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='/css/icons.svg#settings')
                    span.nav-item-name    任务管理(管理员)
            li
                a(href='/user_task_control')
                    .nav-icon-container
                        svg
                            use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='/css/icons.svg#settings')
                    span.nav-item-name    任务管理
            //- li
            //-     a(href='/task_create')
            //-         .nav-icon-container
            //-             svg
            //-                 use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='/css/icons.svg#doc-new')
            //-         span.nav-item-name    任务创建
            li
                a(href='/task')
                    .nav-icon-container
                        svg
                            use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='/css/icons.svg#issue-external')
                    span.nav-item-name    任务设置
            li
                a(href='/account')
                    .nav-icon-container
                        svg
                            use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='/css/icons.svg#account')
                    span.nav-item-name    账号信息
            li
                a(href='/user_control')
                    .nav-icon-container
                        svg
                            use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='/css/icons.svg#users')
                    span.nav-item-name    账号管理
            li
                a(href='/log')
                    .nav-icon-container
                        svg
                            use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='/css/icons.svg#log')
                    span.nav-item-name    日志
        button.close-nav-button(name='button', type='button')
            svg.s16
                use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='/css/icons.svg#close')
            span.collapse-text Close sidebar
